name: Publish `dbt-semantic-interfaces` Release
on:
  workflow_dispatch:
  push:
    tags:
      - "*"

env:
  PYTHON_VERSION: "3.8"

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment: PYPI_PUBLISH
    steps:
      - name: Check-out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # actions/checkout@v3

      - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Clean old build artifacts
        run: rm -rf dist build

      - name: Hatch Publish
        run: hatch build && hatch publish
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ secrets.PYPI_API_TOKEN }}
