name: Pre-commit Hooks

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  pre-commit:
    name: Run Pre-commit Hooks
    strategy:
      matrix:
        python-version: ["3.8", "3.12"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # actions/checkout@v3
      - name: Setup Python ${{ matrix.python-version }} env
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}
          additional-cache-key: "pydantic~=1.10"
      # This step is necessary so long as we're allowing Pydantic 1 and Pydantic 2 via shimming
      - name: Force Pydantic 1
        run: hatch run dev-env:pip install "pydantic~=1.10"
      - name: Run Pre-commit Hooks
        run: hatch run dev-env:pre-commit run --show-diff-on-failure --color=always --all-files
