name: Python Tests

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  pytest:
    name: Run Tests / Python ${{ matrix.python-version }} / Pydantic ~= ${{ matrix.pydantic-version }}

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        pydantic-version: ["1.10", "2.0"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }} env
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}
          additional-cache-key: "pydantic~=${{ matrix.pydantic-version }}"
      - name: Set pydantic Version ~= ${{ matrix.pydantic-version }}
        run: hatch run dev-env:pip install "pydantic~=${{ matrix.pydantic-version }}"
      - name: Run Python Tests
        run: hatch run dev-env:pytest tests
